.menuStyle {
    color: white;
    padding: 20px 0;
    background-color: #190C2A; /* Add a background color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.menuItems {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuItem {
    margin: 0 30px;
}

.menuLink {
    text-decoration: none;
    color: #e2e2e2;
    font-size: 20px;
}

.menuLink:hover {
    color: #fff;
    transition: 0.3s;
    font-weight: bold;
}

.menuLink:focus {
    color: #fff;
    font-weight: bold;
    outline: none;
}

/* Media Query for smaller screens (e.g., mobile devices) */
@media (max-width: 768px) {
    .menuItems {
        padding: 0;
    }

    .menuItem {
        margin: 10px 35px; /* Adjust margin for mobile spacing */
        text-align: center; /* Center-align menu items */
    }

    .menuLink {
        font-size: 18px; /* Reduce font size further for mobile */
    }
}
