.menuStyle {
    color: white;
    padding: 10px 0;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    justify-content: space-around;
}

.menuLogo {
    display: flex;
    margin-top: 10px;
    cursor: default;
}

.menuLogo img {
    border-radius: 50%;
}

.menuLogo h1 {
    margin: 25px 0 0 20px;
    font-size: 1.8rem;
}

.menuItems {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: -0.5rem;
}

.menuItem {
    margin: 0 30px;
}

.menuItem:last-child {
    margin-right: 0px;
}

.menuLink {
    text-decoration: none;
    color: #e2e2e2;
    font-size: 1.25rem;
    cursor: pointer;
}

.menuLink:hover {
    color: #fff;
    transition: 0.3s;
    font-weight: bold;
}

.menuLink:focus {
    color: #fff;
    font-weight: bold;
    outline: none;
}

.hamburger-button {
    font-size: 50px;
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
    display: none;
    outline: none;
    margin: auto;
    color: #fff;
}

@media (max-width: 480px) {
    .hamburger-button {
        display: block;
    }

    .menuStyle {
        padding: 5px 0 10px 20px;
    }

    .menuItems {
        position: absolute;
        top: 100%; /* posiciona o menuItems logo abaixo do botão hamburger */
        left: 0; /* alinha o menuItems à esquerda do menuStyle */
        width: 100%;
        display: none;
        flex-direction: column;
        background-color: #190C2A;
        z-index: 1000;
    }

    .menuItems.open {
        display: flex;
    }

    .menuItem {
        margin: 8px 0;
        text-align: center;
        width: 100%;
        padding: 10px 0 20px 0;
    }

    .menuItem:first-child {
        margin-top: 15px;
    }

    .menuItem:last-child {
        border-bottom: none;
        margin-bottom: none;
    }

    .menuLink {
        font-size: 22px;
    }
}
