* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }
  

body {
    min-height: 100vh;
    background: linear-gradient(to bottom, #190C2A , #822760 );
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
}

body.white-background {
    background: #FFFFFF;
}

.title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #FFF;
}

.input {
    width: 30%;
    max-width: 80rem;
    height: 40px;
    border-color: gray;
    border-width: 1px;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 20px;
}

.button {
    background-color: #00072E;
    padding: 20px 0;
    border-radius: 4px;
    margin-top: 25px;
    border: 1px solid #FFF;
    min-width: 300px;
}

.button-text {
    color: #FFF;
    text-decoration: none;
    font-size: 24px;
}

.button:hover {
    cursor: pointer;
}

.label {
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
    align-self: flex-start;
    margin-left: 35%;
    margin-bottom: 5px;
}
